* {
  margin: 0;
  padding: 0;
}

:root {
  --card-width: 300px;
  --card-border-radius: 16px;
  --row-increment: 10px;
  --card-small: 26;
  --card-medium: 33;
  --card-lagre: 45;
}

@font-face {
  font-family: "playpen";
  src: url("/font/Playpen_Sans/PlaypenSans-VariableFont_wght.ttf");
}

@font-face {
  font-family: "shantell";
  src: url("/font/Shantell_Sans/ShantellSans-VariableFont_BNCE\,INFM\,SPAC\,wght.ttf");
}

@keyframes select {
  0% {
    rotate: 0deg;
  }
  30% {
    rotate: -0.5deg;
  }
  60% {
    rotate: 0.5deg;
  }
  100% {
    rotate: 0deg;
  }
}

.background-images {
  position: relative;
}

.background-images div:nth-child(1) {
  position: absolute;
  top: 4pc;
  left: 10pc;
}

.background-images div:nth-child(2) {
  position: absolute;
  top: 20pc;
  left: 10pc;
}

.background-images div:nth-child(3) {
  position: absolute;
  top: 12pc;
  left: 20pc;
}

.background-images div:nth-child(4) {
  position: absolute;
  top: 1pc;
  left: 30pc;
}

.background-images div:nth-child(5) {
  position: absolute;
  right: 28pc;
}

.background-images div:nth-child(6) {
  position: absolute;
  top: 4pc;
  right: 10pc;
}

.background-images div:nth-child(7) {
  position: absolute;
  top: 12pc;
  right: 20pc;
}

.background-images div:nth-child(8) {
  position: absolute;
  top: 21pc;
  right: 10pc;
}

header {
  margin-top: 100px;
  background-color: #fff5e6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

header .title {
  font-family: "playpen";
  font-size: 7rem;
  font-weight: 400;
}

.button {
  display: flex;
  align-items: center;
  gap: 20px;
}

.button a {
  font-family: "playpen";
  text-decoration: none;
  color: #000000;
  font-size: 1.2rem;
  font-weight: 400;
}

.button span {
  content: "";
  display: block;
  background-color: black;
  height: 8px;
  width: 8px;
  border-radius: 100px;
}

header .desc {
  font-family: "shantell";
  font-size: 1.4rem;
  margin-top: 15px;
}

header .desc a {
  font-family: "playpen";
  color: #000000;
  text-decoration: none;
  font-weight: 600;
}

.to-do-list,
.note,
.history {
  background-color: #fef5e8;
  font-family: "playpen";
  width: 100%;
}

.note,
.history {
  padding-top: 100px;
}

.head-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 78%;
  position: relative;
}

.left {
  border-bottom: 2px solid black;
  width: 49%;
  border-radius: 5px;
  font-size: 1.2rem;
  padding-bottom: 8px;
}

.right {
  border-bottom: 2px solid black;
  width: 49%;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.edit {
  display: flex;
  position: relative;
  cursor: pointer;
}

.edit:hover .dropdown {
  opacity: 1;
  visibility: visible;
  z-index: 999;
  right: 1.5rem;
}

.dropdown {
  position: absolute;
  display: flex;
  gap: 15px;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  z-index: -999;
  right: 0;
  padding-right: 20px;
  transition: all 0.3s ease;
}

.right a {
  margin-left: 10px;
}

.del {
  opacity: 0;
  visibility: hidden;
  z-index: -999;
  cursor: pointer;
}

.save-history {
  opacity: 0;
  visibility: hidden;
  z-index: -999;
  cursor: pointer;
}

/* start edit container */
.add-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #eb1e4b;
  display: flex;
  flex-direction: column;
  padding: 15px;
  border-radius: 15px;
  opacity: 0;
  z-index: -999;
  visibility: hidden;
  transition: all 0.3s ease;
}

.add-container .header {
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
}

.add-container .header input {
  height: 60px;
  padding: 0 20px;
  font-family: "playpen";
  background-color: #fef5e8;
  border-radius: 20px;
  border: 0;
  cursor: text;
}

.add-container .header .button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.add-container .header .button .aggrement {
  display: flex;
}

.add-container .header .button a {
  background-color: #fef5e8;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  border-radius: 50px;
  cursor: pointer;
}

.add-container a:nth-child(1) {
  margin-right: 10px;
}

.add-container textarea {
  border: none;
  border-radius: 10px;
  outline: none;
  resize: none;
  font-size: 1.3rem;
  padding: 5px;
  height: 60vh;
}

.add-container textarea::placeholder {
  font-family: "playpen";
}

.note-head {
  display: none;
  width: 50%;
  height: 50px;
  border: none;
  margin-bottom: 1em;
  border-radius: 10px;
  font-size: 1.3rem;
  padding-left: 10px;
  outline: none;
}

.note-head::placeholder {
  font-family: "playpen";
  font-size: 1.3rem;
}

.pallete {
  position: relative;
}

.pallete:hover .color {
  opacity: 1;
  visibility: visible;
  z-index: 999;
  transform: translateX(0px);
}

.color {
  position: absolute;
  background-color: #fef5e8;
  padding: 8px;
  border-radius: 8px;
  display: flex;
  right: 2.5rem;
  gap: 5px;
  opacity: 0;
  visibility: hidden;
  z-index: -999;
  transition: all 0.3s ease-in;
  transform: translateX(100px);
}

.background-color {
  height: 20px;
  width: 20px;
}

/* end add container */

.parent {
  display: flex;
  justify-content: center;
}

.parent .container {
  width: 80%;
  height: 85vh;
  margin-top: 50px;
  overflow: auto;
  scrollbar-color: #ded9d1 #fef5e8;
  scrollbar-width: thin;
}

.box-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, var(--card-width));
  grid-auto-rows: var(--row-increment);
  justify-content: center;
}

.card {
  padding: 0px;
  margin: 12px;
  border-radius: var(--card-border-radius);
  background-color: #eb1e4b;
  overflow: hidden;
}

.card-small {
  grid-row-end: span var(--card-small);
}
.card-medium {
  grid-row-end: span var(--card-medium);
}
.card-large {
  grid-row-end: span var(--card-lagre);
}

.header-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
  color: white;
}

.header-1 .date {
  font-size: 1.2rem;
  font-weight: 500;
}

.header-1 .edit-list {
  cursor: pointer;
}

.note-header {
  font-size: 2rem;
  font-weight: 500;
}

.header-2 {
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
}

.header-2 .day {
  font-weight: 400;
  font-size: 2rem;
  margin-left: 20px;
}

.card ul li {
  color: white;
  list-style: none;
  margin-left: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card ul li input[type="checkbox"] {
  margin-right: 10px;
  width: 15px;
  height: 15px;
  cursor: pointer;
  outline: none;
  border: none;
}

.card ul li:has(input[type="checkbox"]:checked) {
  text-decoration: line-through;
}

footer {
  background-color: #fef5e8;
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer .logo {
  font-family: "playpen";
  display: grid;
  justify-content: center;
  text-align: center;
  margin: 100px 0;
}

footer hr {
  width: 95%;
}

.logo h1 {
  font-size: 4rem;
}

.bottom {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 95%;
  padding-bottom: 20px;
}

.logo .desc {
  font-family: "shantell";
  font-size: 1.3rem;
  margin-top: 20px;
}

.contact a {
  text-decoration: none;
  padding: 0 5px;
}

.copyright {
  font-size: 1.1rem;
}

/* start script class */
.selectable {
  animation: select 0.2s infinite;
}

.selected {
  animation: none;
  border: 10px solid #ffebb8;
}

.active {
  opacity: 1;
  z-index: 999;
  visibility: visible;
}

.display {
  display: block;
}
/* end script class */

/* start background color for card */
.red {
  background-color: #eb1e4b;
}

.yellow {
  background-color: #f5dc50;
}

.orange {
  background-color: #f06937;
}
.blue {
  background-color: #69beeb;
}
.green {
  background-color: #2d969b;
}
.magenta {
  background-color: #a5236e;
}
.indigo {
  background-color: #0a509b;
}
.brown {
  background-color: #b95f69;
}
/* end background color for card */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  body {
    background-color: red;
  }
  .background-images div {
    display: none;
  }
  header .desc {
    text-align: center;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  body {
    background-color: green;
  }
  .background-images div {
    display: none;
  }
  .add-container textarea {
    width: 50vw;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  body {
    background-color: blue;
  }
  .add-container textarea {
    width: 40vw;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  body {
    background-color: aqua;
  }
  .background-images div {
    display: block;
  }
  .background-images div:nth-child(1) {
    left: 12pc;
  }
  .background-images div:nth-child(2) {
    left: 5pc;
  }
  .background-images div:nth-child(3) {
    display: none;
  }
  .background-images div:nth-child(4) {
    left: 2pc;
    top: 12pc;
  }
  .background-images div:nth-child(5) {
    right: 2pc;
    top: 12pc;
  }
  .background-images div:nth-child(6) {
    right: 12pc;
  }
  .background-images div:nth-child(7) {
    display: none;
  }
  .background-images div:nth-child(8) {
    right: 8pc;
  }
  .add-container textarea {
    width: 25vw;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  body {
    background-color: beige;
  }
  .background-images div:nth-child(1) {
    position: absolute;
    top: 4pc;
    left: 10pc;
  }

  .background-images div:nth-child(2) {
    position: absolute;
    top: 20pc;
    left: 10pc;
  }

  .background-images div:nth-child(3) {
    display: block;
    position: absolute;
    top: 12pc;
    left: 18pc;
  }

  .background-images div:nth-child(4) {
    position: absolute;
    top: 1pc;
    left: 30pc;
  }

  .background-images div:nth-child(5) {
    position: absolute;
    right: 28pc;
    top: 0;
  }

  .background-images div:nth-child(6) {
    position: absolute;
    top: 4pc;
    right: 10pc;
  }

  .background-images div:nth-child(7) {
    display: block;
    position: absolute;
    top: 12pc;
    right: 18pc;
  }

  .background-images div:nth-child(8) {
    position: absolute;
    top: 21pc;
    right: 10pc;
  }
  .add-container textarea {
    width: 25vw;
  }
}
