* {
  margin: 0;
  padding: 0;
}

:root {
  --card-width: 300px;
  --card-border-radius: 16px;
  --row-increment: 10px;
  --card-small: 26;
  --card-medium: 33;
  --card-lagre: 45;
}

@font-face {
  font-family: "playpen";
  src: url("/font/Playpen_Sans/PlaypenSans-VariableFont_wght.ttf");
}

@font-face {
  font-family: "shantell";
  src: url("/font/Shantell_Sans/ShantellSans-VariableFont_BNCE\,INFM\,SPAC\,wght.ttf");
}

.background-images {
  position: relative;
}

.background-images div:nth-child(1) {
  position: absolute;
  top: 4pc;
  left: 10pc;
}

.background-images div:nth-child(2) {
  position: absolute;
  top: 20pc;
  left: 10pc;
}

.background-images div:nth-child(3) {
  position: absolute;
  top: 12pc;
  left: 24pc;
}

.background-images div:nth-child(4) {
  position: absolute;
  top: 1pc;
  left: 30pc;
}

.background-images div:nth-child(5) {
  position: absolute;
  right: 28pc;
}

.background-images div:nth-child(6) {
  position: absolute;
  top: 4pc;
  right: 10pc;
}

.background-images div:nth-child(7) {
  position: absolute;
  top: 12pc;
  right: 24pc;
}

.background-images div:nth-child(8) {
  position: absolute;
  top: 21pc;
  right: 10pc;
}

header {
  background-color: #fff5e6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

header .title {
  font-family: "playpen";
  font-size: 7rem;
  font-weight: 400;
}

.button {
  display: flex;
  align-items: center;
  gap: 20px;
}

.button a {
  font-family: "playpen";
  text-decoration: none;
  color: #000000;
  font-size: 1.2rem;
  font-weight: 400;
}

.button span {
  content: "";
  display: block;
  background-color: black;
  height: 8px;
  width: 8px;
  border-radius: 100px;
}

header .desc {
  font-family: "shantell";
  font-size: 1.4rem;
  margin-top: 15px;
}

header .desc a {
  font-family: "playpen";
  color: #000000;
  text-decoration: none;
  font-weight: 600;
}

.to-do-list,
.note,
.history {
  background-color: #fef5e8;
  font-family: "playpen";
  width: 100%;
}

.note,
.history {
  padding-top: 100px;
}

.head-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 78%;
  position: relative;
}

.left {
  border-bottom: 2px solid black;
  width: 49%;
  border-radius: 5px;
  font-size: 1.2rem;
  padding-bottom: 8px;
}

.right {
  border-bottom: 2px solid black;
  width: 49%;
  border-radius: 5px;
  display: flex;
  justify-content: flex-end;
}

.right a {
  margin-left: 10px;
}

.parent {
  display: flex;
  justify-content: center;
}

.container {
  width: 80%;
  height: 85vh;
  margin-top: 50px;
  overflow: auto;
  scrollbar-color: #ded9d1 #fef5e8; /* Thumb color and track color */
  scrollbar-width: thin; /* Thin scrollbar */
}

.box-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, var(--card-width));
  grid-auto-rows: var(--row-increment);
  justify-content: center;
}

.card {
  padding: 0px;
  margin: 12px;
  border-radius: var(--card-border-radius);
  background-color: red;
}

.card-small {
  grid-row-end: span var(--card-small);
}
.card-medium {
  grid-row-end: span var(--card-medium);
}
.card-large {
  grid-row-end: span var(--card-lagre);
}

footer {
  background-color: #fef5e8;
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer .logo {
  font-family: "playpen";
  display: grid;
  justify-content: center;
  text-align: center;
  margin: 100px 0;
}

footer hr {
  width: 95%;
}

.logo h1 {
  font-size: 4rem;
}

.bottom {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 95%;
  padding-bottom: 20px;
}

.logo .desc {
  font-family: "shantell";
  font-size: 1.3rem;
  margin-top: 20px;
}

.contact a {
  text-decoration: none;
  padding: 0 5px;
}

.copyright {
  font-size: 1.1rem;
}
